In [2]:
# Mutuable
# Indexable
# Slicing
# Diff data type 
# Duplicate

## List

In [3]:


list1=["apple","banana","cherry","mango","papaya","kiwi","graphes"]

print(list1[0]) #indexing
print(list1[-1]) #negavtive indexing

apple
graphes

In [4]:
# Slicing
print(list1[1:4]) #strat:stop:stpes(diffrance)
print(list1[-6:-3])

['banana', 'cherry', 'mango']
['banana', 'cherry', 'mango']

In [5]:
print(list1[::3]) #diffrent " : "
print(list1[-6:-3:2])

['apple', 'mango', 'graphes']
['banana', 'mango']

In [6]:
# methods

In [7]:
# append -late value

l1=["apple","banana","cherry","mango","papaya","kiwi","graphes"]
print(l1)
l1.append("Pineapple")
print(l1)

# Insert --inedex number 
l2=[1,2,"orange"]
l2.insert(1,"pineapple")
print(l2)


# extend lsit-mixed
l3=[1,2]
l4=["hello","heee!"]
l3.extend(l4)
print(l3)

['apple', 'banana', 'cherry', 'mango', 'papaya', 'kiwi', 'graphes']
['apple', 'banana', 'cherry', 'mango', 'papaya', 'kiwi', 'graphes', 'Pineapple']
[1, 'pineapple', 2, 'orange']
[1, 2, 'hello', 'heee!']

In [8]:
#pop -late value
l3=[1,2]
l3.pop()
print(l3)

#delet -inedex number 
del l4[1]
print(l4)

#clear - all clean
l2.clear()
print(l2)

[1]
['hello']
[]

In [9]:
list4=[83,56,188,99]
list5=["h","n","j","t","r"]
list6=[1,2,"q","w"]

list4.sort()
print(list4)
list5.sort()
print(list5)

#list6.sort() # '<' is not support between the 'int' and 'str'
print(list6)

[56, 83, 99, 188]
['h', 'j', 'n', 'r', 't']
[1, 2, 'q', 'w']

In [10]:
li=[1,"hello",2,"by"]
print(type(li))

<class 'list'>

In [11]:
l10=[]
l9=[4,5,6]
for x in l9:
    l10.append(x)
print(l10)

[4, 5, 6]

In [12]:
a=[1,2,4,6,"a","b","c","d"]
a1=0
a2=""
for x in a:
    if type(x) == int:
        a1+=x
    else:
        a2+=x
        
        
print(a1)
print(a2)

13
abcd

In [13]:
list12=[]
for x in range(20):
    if x%2==0:
        list12.append(x)
print(list12)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
#list comprehension
# creat new list for iterable object
# rules:
# 1) one to more for loop
# 2) zero to more if condition
# syntax:
#     list1=[expression for loop if condition]
#     list2=[expression if condition else condtion  for loop ]
# single line expression

In [15]:
a=[x for x in range(20) if x%2==0]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list12=[]
for x in range(20):
    if x%2==0:
        list12.append(x)
    else:
        list12.append("invalid")
print(list12)

[0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid', 10, 'invalid', 12, 'invalid', 14, 'invalid', 16, 'invalid', 18, 'invalid']

In [17]:
a=[x if x%2==0  else "invalid" for x in range(20)]
print(a)

[0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid', 10, 'invalid', 12, 'invalid', 14, 'invalid', 16, 'invalid', 18, 'invalid']

In [18]:
a = [1, 1, 2, 4, 5, 5, 7, 8, 8, 9, 9]
x=[]

for i in a:
    if i not in x:
        x.append(i)
print(x)

[1, 2, 4, 5, 7, 8, 9]

## Tuple

In [19]:
#tuple is immutable
a=(1)
print(type[a])

type[1]

In [20]:
t1=(12,"tuple")
t2=[22,55,44]
t3=[t1,t2]

print(t3)
#print([t1+t2])#can only concatenate tuple (not "list") to tuple

[(12, 'tuple'), [22, 55, 44]]

In [21]:
#tuple is immutable
# diff allows
# duplicate allow
# indexing
# slicing
# represent by()

In [22]:
a=[1,2,3,4,5]
b=set(a)
c=tuple(b)
print(tuple(b))
a[1]=5
print(a)

(1, 2, 3, 4, 5)
[1, 5, 3, 4, 5]

In [23]:
a=[1,2,3,4,5]
b=set(a)
print(tuple(b))

(1, 2, 3, 4, 5)

In [24]:
a=1,
print(type(a))

<class 'tuple'>

In [25]:
t=(12,"python",5.9,True)
tt=(22,44,55)
t3=(t1,t2)
print(t3[1])

[22, 55, 44]

In [26]:
#t.pop(12)  #can only concatenate tuple (not "list") to tuple

print(t)

(12, 'python', 5.9, True)

In [27]:
print(len(t))
print(t.count(12))

4
1

In [28]:
a=998,9985,44556,7899
print(sorted(a))
print(max(a))
print(min(a))

[998, 7899, 9985, 44556]
44556
998

# #Set

In [29]:
a=set()
print(type(a))

<class 'set'>

In [30]:
a={}
print(type(a))

<class 'dict'>

In [31]:
product1=[44,66,88]

In [32]:
a=set()
b={1,2,3,4}
set3={1,66,88,99}
a.update(set3)
b.update(set3)
print(a)
print(b)

{88, 1, 66, 99}
{1, 2, 3, 4, 66, 99, 88}

In [33]:
set3.add(33)
print(set3)

{1, 66, 99, 33, 88}

In [34]:
s1={1,2,3,4,5}
s2={1,2,3,4,5,6,7,8,9}
print(s2.issubset(s1))
print(s1.issubset(s2))
print(s1.intersection(s2))
print(s1.union(s2))

False
True
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
s55=set()
print(s55,type(s55))

set() <class 'set'>

In [36]:
for i in range(1,6):
    s55.add(i)
print(s55)

{1, 2, 3, 4, 5}

In [37]:
s22=frozenset()
print(s22,type(s22))

frozenset() <class 'frozenset'>

In [40]:
num=[1,2,3,45,555,6,6,7,7,766]
fnum=frozenset(num)
print(fnum,type(fnum))
fnum[4]=666
print(fnum)

frozenset({1, 2, 3, 6, 7, 555, 45, 766}) <class 'frozenset'>

TypeError: 'frozenset' object does not support item assignment

In [41]:
s33={'a':10,'name':"python",1:"abc"}
print(s33,type(s33))
fnum1=frozenset(s33)
print(fnum1,type(fnum1))

{'a': 10, 'name': 'python', 1: 'abc'} <class 'dict'>
frozenset({'name', 'a', 1}) <class 'frozenset'>

## Dict

In [42]:
#in pair of key and value
#dict is unodered
#ex:like map

dict1={}
print(dict1)
#check type 
print(dict1,type(dict1))

{}
{} <class 'dict'>

In [43]:
d1={"a":"python",2:"course",3:"i like"}
print(d1,type(d1))
print(d1.values())
print(d1.keys())

{'a': 'python', 2: 'course', 3: 'i like'} <class 'dict'>
dict_values(['python', 'course', 'i like'])
dict_keys(['a', 2, 3])

In [44]:
a={"a":"python",2:"course",3:"i like"}
print(a)

{'a': 'python', 2: 'course', 3: 'i like'}

In [45]:
D1={"a":"python",2:"course",3:"i like"}
print(d1)

{'a': 'python', 2: 'course', 3: 'i like'}

In [46]:
d2={1:'hello'}
#nested dict
d2={1:"python",2:"course",3:{'a':"welcome",'b':"to",'c':"quantan"}}
print(d2)

{1: 'python', 2: 'course', 3: {'a': 'welcome', 'b': 'to', 'c': 'quantan'}}

In [47]:
d3={}
print(d3)

d3[0]="welcome"
d3[1]="to"
d3[2]="quaak"
d3['a']=12
d3['b']=[1,2,3,4,5]
print(d3,type(d3))

print(d3['a'])

print(d3.get("b"))

{}
{0: 'welcome', 1: 'to', 2: 'quaak', 'a': 12, 'b': [1, 2, 3, 4, 5]} <class 'dict'>
12
[1, 2, 3, 4, 5]

In [48]:
d5={5:'welcome',6:'quaak',7:'inst',"A":{1:"hello",2:"python"}}

del d5['A'][2]
print(d3)

{0: 'welcome', 1: 'to', 2: 'quaak', 'a': 12, 'b': [1, 2, 3, 4, 5]}

In [49]:
d7={5:'welcome',6:'quaak',7:'inst','b':'wlcomed'}
#e=d7.pop(6)
#print(c)
#print(d7)

In [50]:
e=d7.popitem()
print(d7)

{5: 'welcome', 6: 'quaak', 7: 'inst'}

In [51]:
d7.clear()
print(d7)
print(d5.items())

{}
dict_items([(5, 'welcome'), (6, 'quaak'), (7, 'inst'), ('A', {1: 'hello'})])

In [52]:
s={'a':[11,22,33],'b':[44,55,66],'c':[101,202,303]}
print(max(s['a']))
print(max(s['b']))
print(max(s['c']))

33
66
303

In [53]:
s={'a':[11,22,33],'b':[44,55,66],'c':[101,202,303]}
for i in s:
    for j in i:
        print(i,"=",max(s[j]))

a = 33
b = 66
c = 303

## String

In [54]:
#represent by: quoters
a=''
b=""
c=''''''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [55]:
str1="python goood this to under stand it "
print(str1.index("a"))
print(str1.lower())
print(str1.upper())
print(str1.islower())
print(str1.isupper())

29
python goood this to under stand it
PYTHON GOOOD THIS TO UNDER STAND IT
True
False

In [56]:
s2="student @123"
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())

False
False
False

In [57]:
s3="a string is a sequence of the character"
print(s3.capitalize())# all sentance first letter
print(s3.title()) # all sentence every space after the capital

A string is a sequence of the character
A String Is A Sequence Of The Character

In [58]:
s2="student"
print(s2,type(s2))

student <class 'str'>

In [59]:
s=s2[2]='y'
print(s)

TypeError: 'str' object does not support item assignment

In [60]:
#formatting:
fruit="apple","banana","mango"
print(fruit,type(fruit))

('apple', 'banana', 'mango') <class 'tuple'>

In [61]:
fruit="{1}{2}{0}".format("apple ","mango ","banana ")
print(fruit)

mango banana apple

In [62]:
fruit="{a}{b}{c}".format(a="apple ",b="mango ",c="banana ")
print(fruit)

apple mango banana

In [63]:
str2="python is an interpreted high level lanuage gernal perpose for use it"

print(str2[13:24])

interpreted

In [64]:
str2="python is an interpreted high level lanuage gernal perpose for use it"
s=str2.split(" ")
print(s[3])

interpreted

In [65]:
list2=["mango","apple","bananan"]
str12=",".join(list2)#convert your list into string using joind method
print(str12,type(str12))
a=str(list2)
print(a)

mango,apple,bananan <class 'str'>
['mango', 'apple', 'bananan']

In [66]:
t1=("hello",)
print(type(t1))

<class 'tuple'>

In [ ]:
t = "python"
T=int(input("enter the number: "))
new_t = t[:T] + t[T+1:]  
print(new_t)